footer{
 background-color: var(--neutral-black);
 padding-top:40px;
 padding-bottom:40px;
 width: 100%;
 color: var(--neutral-white);
 min-height: 350px;
 display: flex;
 justify-content: start !important;
 
}

footer h3{
    margin-bottom: 20px;
}

footer p, footer a, footer h3{
    color: var(--neutral-white);
}

.copy-right-footer{
}

footer img{
    filter: invert(1);
}

/* ***************** */
/* ***  CONTACT  *** */
/* ***************** */


.contact-footer__phone, .contact-footer__address{
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
    align-items: center;

}
.contact-footer__phone svg, .contact-footer__address svg{
    margin-right:10px;
}
.contact-footer__phone{
    align-items: center;
}

/* ***************** */
/* ***  COMPANY  *** */
/* ***************** */

.company-footer{
    height: 100%;
}

@media screen and (min-width: 769px){
   .company-footer{
    align-items: end !important;
    }
    .contact-footer {
    align-items: center !important;
    }

}

@media screen and (max-width: 768px){
    footer{
        padding: 40px
    }
    h3{
        margin-top: 10px;
    }
}