.hero-section{
    background-color: var(--neutral-silver);
    width: 100%;
    padding: 70px;
}
.hero-section__text{
    display: flex;
    flex-direction: column;
}
.hero-section__subtitle{
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}
.hero-section__btn{
    display: flex;
    margin-top: 20px;
}   

.hero-section__img{
    display: flex;
    justify-content: center;
}

.hero-section__text h1 span{
 color: var(--primary-color);
}
.hero-section__text h1 {
    line-height: 73px;
}
.test{
    display: flex;
}

@media screen and (max-width: 992px){
    
}